*,
*::after {
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: beige;
    font-family: 'Rubik Moonrocks', cursive;
}

div[data-game-name='tic-tac-toe']{
    font-family: inherit;
    font-size: 4.5rem;
    color: yellowgreen;
    text-shadow: 2px 4px 10px black;
}

div[data-game-board]{
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}

.canvas{
    height: 550px;
    width: 600px;
    margin: 0px;
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: black;
    grid-template-rows: repeat(50,  1fr);
    grid-template-columns: repeat(50, 1fr);
    justify-items: stretch;
    align-items: stretch;
    box-shadow: 2px 2px 4px 0px grey;
}

.canvas>div{
    border-color: grey;
    border-style: solid;
    border-width: thin;
    cursor: pointer;

}

div[data-x-coordinate='17'], 
div[data-x-coordinate='34'],
div[data-y-coordinate='17'],
div[data-y-coordinate='34']{
    background-color: yellow;
}

div[data-x-coordinate='1'][data-y-coordinate='17'],
div[data-x-coordinate='1'][data-y-coordinate='34'],
div[data-x-coordinate='17'][data-y-coordinate='1'],
div[data-x-coordinate='34'][data-y-coordinate='1'],
div[data-x-coordinate='50'][data-y-coordinate='17'],
div[data-x-coordinate='50'][data-y-coordinate='34'],
div[data-x-coordinate='17'][data-y-coordinate='50'],
div[data-x-coordinate='34'][data-y-coordinate='50']
{
    background-color: black;
}


div[data-player]{
    margin: 2px;
    text-align: center;
    padding: 5px;
    width: 15%;

}

div[data-player="you"]{
    margin-right: 2rem;

}

div[data-player="AI"]{
    margin-left: 2rem;

}

button{
    font-family: 'Rubik Moonrocks', cursive;
    font-size: 2rem;
    width: 100px;
    border-radius: 1rem;
    border: none;
    background-color: black;
    color: yellow;
    text-align: center;
    padding-bottom: 5px;
    box-shadow: 0px 0px 4px 0px grey;
    cursor: pointer;
}

button:hover, button:focus{
    transform: scale(1.1);
}

.circle{
  
}
